@import "../typography/typography.scss";

footer {
    background: #22262b;
    padding: 70px 0 23px;
    .footer-first {
        padding-bottom: 47px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        .footer-first-div2 {
            p {
                max-width: 417px;
                @include font36;
                color: var(--color2);
            }
        }
    }
    .footer-last {
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
        .footer-last-div1 {
            p {
                @include font14;
                font-weight: 300;
                line-height: 44px;
                color: var(--color2);
            }
        }
        .footer-last-div2 {
            display: flex;
            gap: 60px;
            a {
                display: block;
                @include font14;
                color: var(--color2);
                text-decoration-line: none;
                font-weight: 300;
                line-height: 44px;
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        .footer-first {
            padding: 0 40px 47px 40px;
            .footer-first-div2 {
                p {
                    max-width: 426px;
                    @include font25;
                    font-weight: 400;
                    color: var(--color2);
                    line-height: 30px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    footer {
        .footer-first {
            padding: 0 20px 47px 20px;
            display: block;
            .footer-first-div1 {
                display: flex;
                justify-content: center;
            }
            .footer-first-div2 {
                p {
                    max-width: 100%;
                    @include font16;
                    font-weight: 400;
                    color: var(--color2);
                    line-height: 30px;
                    padding-top: 20px;
                }
            }
        }
        .footer-last {
            padding-top: 40px;
            display: block;
            text-align: center;
            .footer-last-div1 {
                p {
                    @include font14;
                    font-weight: 300;
                    line-height: 44px;
                    color: var(--color2);
                }
            }
            .footer-last-div2 {
                display: flex;
                justify-content: center;
                gap: 30px;
                a {
                    display: block;
                    @include font14;
                    color: var(--color2);
                    text-decoration-line: none;
                    font-weight: 300;
                    line-height: 44px;
                }
            }
        }
    }
}
