:root {
    --bgcolor1: #50a954;
    --bgcolor2: #22262b;
    --bgcolor3: #fafafa;
    --color1: #000000;
    --color2: #ffffff;
    --color3: #545454;
    --color4: #333;
    --color5: #292929;
    --color6: #404040;
    --bordercolor: #e6e8ef;
    --bordercolor1: #e3e3e4;
    --font-family: 'Inter', sans-serif;
}